.dark .dark\:bg-dark-main {
  --tw-bg-opacity: 1;
  background-color: rgba(24, 25, 26, var(--tw-bg-opacity));
}
.dark .dark\:border-dark-main {
  --tw-bg-opacity: 1;
  border-color: rgba(24, 25, 26, var(--tw-bg-opacity));
}
.dark .dark\:bg-dark-second {
  --tw-bg-opacity: 1;
  background-color: rgba(36, 37, 38, var(--tw-bg-opacity));
}

.dark .dark\:bg-dark-third {
  --tw-bg-opacity: 1;
  background-color: rgba(58, 59, 60, var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-dark-second:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(36, 37, 38, var(--tw-bg-opacity));
}

.dark .dark\:hover\:bg-dark-third:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(58, 59, 60, var(--tw-bg-opacity));
}
